version: "3.9"
services:
  registry:
    image: ghcr.io/mlflow/mlflow:v2.16.0
    command: mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri sqlite:///mlflow.db --default-artifact-root /mlruns
    volumes: ["./mlruns:/mlruns"]
    ports: ["5000:5000"]

  redis:
    image: redis:7
    ports: ["6379:6379"]
